.count-container{
    display: flex;
    justify-content: center;
}
.count-contador{
    color: #d46a83;
}
.count-button{
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    background-color:  #f4e3e7;
    color: #c9818c;
    border-radius: 15px;
    cursor: pointer;    
}

.button-primary {
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    background-color:  #f4e3e7;
    color: #c9818c;
    border-radius: 15px;
    cursor: pointer;
    display: flex;
     
}