
header{
  background: linear-gradient(to left, #e0b5bb, rgba(209, 175, 175, 0.5), white);
  
}
nav {
    color: #c9818c;
}
ul{
    display: flex;
    justify-content: center;
  }

  li {
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    color: #c9818c;
    padding: 5px 14px;
    margin: 0 3px;
    cursor: pointer;
    list-style: none;
    display: flex;
  }

  li a {
    list-style: none;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    color: #c9818c;
  }
 li a:hover {
    color: #d46a83;
  }